#faq-container
  %p.question= "All the presentations submited will be part of the TWBR Away Day?"
  %p.answer= "No, the presentations will be selected through voting after the submission time."

  %p.question= "How are the presentations going to be selected?"
  %p.answer= "Presentation will be selected through voting and other factors."

  %p.question= "What are those other factors?"
  %p.answer= "The other factors involve uniqueness and diversity of topics. The voting system aims to get more knowledge of what people want to see, but it is not the only input the organizing commitee will use."

  %p.question= "How is this process going to work?"
  %p.answer= "After the submission period is closed, we will publish a voting system to gather knowledge about what people are interested to watch. After that, the final schedule will be determined by the organizing commitee taking into account the other factors cited above."

  %p.question= "How will I know that my talk was selected?"
  %p.answer= "We are going to use the email you entered to inform you about the approval of your proposal."

  %p.question= "Who can submit a presentation?"
  %p.answer= "Everyone from POA Office and guests."

  %p.question= "And if I want to submit more than one proposal?"
  %p.answer= "You can send more than one proposal using the same name and email."

  %p.question= "Can more than one person present the same talk/workshop?"
  %p.answer= "If people want to split the presentation, just one of the presenters need to submit the talk." 

  %p.question= "Multiple e-mails?"
  %p.answer= "There is no need for it. All you need to submit a talk is a unique name and email combination." 

  %p.question= "And if I want to present a lightening talk?"
  %p.answer= "Lighting talks don't need to be submitted. There will be open spaces at the venue where the lighting talks can be organized." 
