%section.talks
  - if talks.empty?
    %section.empty
      %a{:href => "/"}= "There are no talks yet submitted."
  %ul
    - talks.each do |talk|
      %li
        %section.talk
          %section.header
            %h1= "#{talk.title}"
            %h2= "#{talk.presenter.name}"
            %span= "#{talk.presenter.email}"
          %section.content
            %span= "#{talk.summary}"
          %section.footer
            %span.category= "#{talk.category}"
            %span.duration= "#{talk.duration} mins"
